---
---

@import "{{ site.theme }}";

#ip2 {
    border-radius: 25px;
    color: #ffffff;
    overflow: none;
    background-color : #1A1A1A; 
    border: 2px solid #B5E853;
    padding: 20px; 
    width: 170px;
    height: 10px;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
