---
---

@import "{{ site.theme }}";

#result {
  position: relative;
  left: 230px;
  bottom: -30px;
  color: white;
  opacity: 0;
}

#ip2 {
    filter: brightness(0.85);
    overflow: hidden;
    border-radius: 25px;
    color: #ffffff;
     background-color: #1A1A1A; 
    border: 2px solid #B5E853;
    position: relative;
    bottom: 25px;
    padding: 20px; 
    width: 170px;
    height: 10px;    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
