---
---

@import "{{ site.theme }}";

#ip2 {
    border-radius: 25px;
    color: #ffffff;
    background-color : #1A1A1A; 
    border: 2px solid #999;
    padding: 20px; 
    width: 170px;
    height: 10px;    
}
